#calculerTournee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height:60px;
    background-color: #3D38F5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#calculerTournee img {
    width: 20px;
    height: 20px;
}

#calculerTournee:hover,
#modifierTournee:hover,
#sauvegarderTournee:hover,
#creerFeuillesDeRoute:hover {
    background-color: #2c2ae6;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

#calculerTournee:active,
#modifierTournee:active,
#sauvegarderTournee:active,
#creerFeuillesDeRoute:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.97);
}

#boutons-modifier, #boutons-edit-mode {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

#modifierTournee, #sauvegarderTournee, #creerFeuillesDeRoute {
     height:140px;
     width:100px;
     background-color: #3D38F5;
     color: #FFFFFF;
     font-family: Inter, sans-serif;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
}

.boutonModif {
    height:50px;
    width:50px;
    background-color: #3D38F5;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
}

#modifierTournee img, #sauvegarderTournee img, #creerFeuillesDeRoute img {
    height:50%;
    margin-top:20px;
}

.boutonModif img {
    height:60%;
}

#btnPause{
    background:#ddd;
    border:none;
    padding:5px 8px;
    border-radius:6px;
    cursor:pointer;
    width:80%;
}

#btnStartStop{
    background:#b2d1d2;
    border:none;
    padding:5px 8px;
    border-radius:6px;
    cursor:pointer;
    width:80%;
    margin-bottom:5px;
}