#calcul-tournee {
    display: none;
    text-align: center;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bloc-livreurs {
    background-color: #3D38F5;
    padding: 10px 20px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.bloc-livreurs input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    text-align: center;
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1E29;
    padding: 10px 20px;
}

.bandeau {
    align-items: center;
    background-color: #1B1E29;
}

.navbar-left {
    display: flex;
    gap: 20px;
}

.navbar-item img {
    width: auto;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.navbar-item img:hover {
    transform: scale(1.1);
}

.navbar-logo img {
    height: 40px;
}


.file-label {
    display: inline-block;
    background-color: #b2d1d2;
    margin-right: 10px;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
}

.file-label:hover {
    background-color: #a0bcbd;
}
.file-container {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}



.tableau {
    flex-basis: 25%;
    overflow-y: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    padding: 20px;
}

#tournee-chargee {
    display:none;
}

.elementDroite{
    margin-right:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}